<div class="container error">
    <div class="row">
        <div class="col-md-10 col-12 error-box">
                <img src="images/error.png" alt="some photo" class="img-fluid about-img">
                <br>
                <a href="/"><button class="btn btn-primary">Go Home</button></a>
        </div>
    </div>
</div>