<div class="container about">
    <div class="row">
        <div class="col-md-6 col-12 about-header-left">
            <figure>
                <img src="images/Nikhil.jpg" alt="some photo" class="img-fluid about-img">
            </figure>
        </div>
        <div class="col-md-6 col-12 about-header-right">
            <p>Welcome to weather app</p>
            <h1>I Am A  Mern Stack Developer Youtuber And A Freelancer</h1>
            <a href="https://www.facebook.com/damage.king.50" target="_blank"><button class="btn btn-primary">About Me</button></a>
        </div>
    </div>
</div>