<div class="container-fluid weather">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="main-content">
                <form action="" class="temp-form">
                    <input type="text" id="cityname" placeholder="Enter your cityname" autocomplete="off">
                    <input type="submit" value="search" id="submitBtn">
                </form>
            </div>

            <div class="tempInfo">
                <div class="top_layer">
                    <p id="day">Tuesday</p>
                    <p id="today_date">13 oct</p>
                </div>
                <div class="main-layer">
                    <p id="cityname">Get Output Here</p>
                    <div class="middle_layer data_hide">
                        <p id="temp"><span>0 degree</span></p>
                        <p class="temp-status"><i class="fa fa-cloud" aria-hidden="true"></i></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>